* {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;

	font-style: normal;
}
body {
	/* font-family: "Josefin Sans", sans-serif; */
	background-color: #f2a592;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
#form-container-list {
	background-color: white;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 900px;
	max-height: 90vh;
	overflow-y: auto;
}
#sahilheader {
	color: #f7945e;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
#form-list label {
	margin-bottom: 5px;
	font-weight: bold;
}
#form-list input,
textarea,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#button-container-list {
	display: flex;
	justify-content: space-between;
}
#button-container-list button {
	background-color: #f7945e;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}
#button-container-list button:hover {
	background-color: #e6835c;
}

li {
	cursor: pointer;
}
